
.left {
  float: left;
  width: 200px;
  /* 提升一个层级 */
  position: relative;
}

.right {
  float: right;
  width: 100%;
  margin-left: -200px;
  box-sizing: border-box;
  padding-left: 200px;
}