* {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 10px solid tomato;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: width 3s;
}

.header {
  position: absolute;
  left: 50%;
  top: -26px;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 50px;
  background-color: tomato;
}


.wrapper:hover {
  width: 300px;
}


.left {
  width: 200px;
  height: 80%;
  background-color: yellowgreen;
}

.right {
  height: 100%;
  background-color: aquamarine;
}